/DistinctStreamDemo.class
/CountExample.class
/MiscExample2.class
/ToArrayExample.class
/MiscStreamExample3.class
/SortedStreamExample.class
/AnyMatchAllMatchNoneMatch.class
/FindAnyFindFirst.class
/ConcatenateStreamsExample.class
/ParallelStream.class
/Student.class
